body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#header {
    background-image: url(bg.jpg);
    background-size: cover;
    background-repeat: no -repeat;
    background-position: center;
    color: brown;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;

}

.pages {
    text-align: center;
}

.body {
    margin-left: 10%;
    margin-right: 10%;
}

.link {
    text-align: center;
    background-color: rgb(180, 20, 108);color: green;color: blue;
    padding: 15px;
}
#middle{
    background-image: linear-gradient(to bottom right red,orange,green,black,blue,indigo,violet);
    color:white;
    margin:20px ;
    padding: 20px;
    border-radius: 15px
}

#footer {
    background-color: rgb(113, 226, 47);
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
}
#footer-text {
    text-align: center;
}
a {
    text-decoration: none;
    padding-inline: 5px;
    font-weight: 500;
    padding: 7px;
    color: #181616;
}

a:hover {
    color: red;color: green;color: blue;
}

a.active {
    background-color: green;
    color: whitesmoke;
}

 

